<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select [(ngModel)]="selected" (ngModelChange)="emitIsBulkUpload()">
    <mat-option *ngFor="let option of options" [value]="option.name" [disabled]="option.disable">
      {{option.display}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="single-div" *ngIf="selected==='single'">
<form [formGroup]="form">
  <mat-form-field>
  <mat-label>Asset Name</mat-label>
  <input matInput #videoName
          formControlName="videoNameCtrl"
          autocomplete="off"
          required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>YouTube Video Link</mat-label>
    <input matInput #videoAsset

          formControlName="videoUrlCtrl"
          autocomplete="off"
          (keydown.backspace)="onBackspace($event)"
          required>
  </mat-form-field>
</form>
</div>
<div class="channel-div" *ngIf="selected==='channel'">
  <button mat-raised-button (click)="openVidSelect()">Add</button>
  <p class="item-counter">Total selected videos: {{chosenVids.length}}</p>
</div>

