mat-sidenav-container {
  height: 100%;

  flex: 1;
  position: fixed;
  width: 100%;
  min-width: 100%;

  height: calc(100% - 64px);
  min-height: calc(100% - 64px);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.asset-details-container {
  min-width: 25%;
  height: 100%;
}

.grid-layout {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding-bottom: 40px;
}

.grid-item {
  border-radius: 8px;
  height: 8rem;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Add this padding to make uo for material card padding in the grid*/
  padding-top: 16px;
  padding-bottom: 16px;
}

.left-align-content {
  margin: unset;
}
