mat-sidenav-container {
  height: 100%;

  flex: 1;
  position: fixed;
  width: 100%;
  min-width: 100%;

  height: calc(100% - 64px);
  min-height: calc(100% - 64px);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

mat-sidenav {
  padding: 20px;
  padding-top: 0px;
}
app-asset-grid {
  display: contents;
}

.asset-details-container {
  max-width: 1500;
  width: 90%;
  height: 100%;
}

.left-align-content {
  margin: unset;
}

.pad-div {
  padding: 20px;
}