<!-- <div class ="main-container"> -->
  <app-toolbar class="toolbar" [loadAccounts]="this.getConfigService().configValid"></app-toolbar>
  <app-loader></app-loader>
  <mat-sidenav-container *ngIf="this.getConfigService().configValid">
    <mat-sidenav #sideNav
      class="asset-details-container mat-elevation-z8"
      position="end"
      mode="over"
      closed>
      <app-asset-details #assetDetails
        [account]="account"
        [closeAssetDetails]="closeAssetDetailsFunc">
      </app-asset-details>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-asset-grid [account]="account"
        [openAssetDetails]="openAssetDetailsFunc"
        [closeAssetDetails]="closeAssetDetailsFunc">
      </app-asset-grid>
    </mat-sidenav-content>
  </mat-sidenav-container>
