.asset-gallery-container {
  height: 100%;

  flex: 1;
  position: fixed;
  width: 100%;
  min-width: 100%;

  height: 100%;
  min-height: 100%;
/*
  margin: 50px;
  margin-top: 10px; */
}

.asset-gallery {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: auto;
}

.asset-details-container {
  min-width: 25%;
  padding: 30px;
  padding-right: 50px;
}

.grid-layout {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-columns: auto-fit; */
}

.grid-item {
  border-radius: 8px;
  height: 8rem;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Add this padding to make uo for material card padding in the grid*/
  padding-top: 16px;
  padding-bottom: 16px;
}

.left-align-content {
  margin: 40px;
  margin-top: 10px;
}

app-search-bar, .grid-layout {
  margin: 2px;
}
