<!-- <div class ="main-container"> -->
  <app-toolbar class="toolbar"></app-toolbar>
  <app-loader></app-loader>
  <mat-sidenav-container>
    <mat-sidenav #sideNav
      class="asset-details-container mat-elevation-z8"
      position="end"
      mode="side"
      closed>
      <app-asset-details [account]="account"></app-asset-details>
    </mat-sidenav>
    <mat-sidenav-content
      [ngClass]="{'left-align-content' : sideNav?.opened}">
      <app-search-bar *ngIf="filteredAssets"
        searchPlaceholderTxt="Search your assets"
        [filterOptions]="filterOptions"
        (searchCriteria)="filterByStr($event)"
        (filterCriteria)="filterByType($event)">
      </app-search-bar>
      <div class = "grid-layout">
        <app-asset class = "grid-item"
        *ngFor="let asset of filteredAssets"
        [asset] = "asset"
        [selectedAssetId] = "activeAssetId"
        (click)="selectAsset(asset.id)">
        </app-asset>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
