:host {
  padding-bottom: 40px;
}

h1 {
  background-color: white;
  margin: unset;
  text-align: left;
}

.close-button{
  float: right;
}

.close-icon {
  height: 32px;
}

.asset-details {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: max-content auto;
  padding-bottom: 0px;
}

.asset-info p {
  display: grid;
  width: 100%x;
  padding: 5px;

  overflow: hidden;
  text-overflow: ellipsis;

}

.asset-info p span {
  text-align: left;
}

.img-details,
.video-details,
.asset-stats {
  display: grid;
}

.info-header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.mat-card-image:first-child {
  margin-top: unset !important;
}
