<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled><i *ngIf="node.isEdited" class="fas fa-pen"></i></button>
    <mat-checkbox [disabled] = "node.disabled"
                  [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="nodeClicked(node, $event.checked)"
                  [attr.data-entity-id]="node.getId()">
      {{node.getName()}}
    </mat-checkbox>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChildren" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.getName()">
      <mat-icon>
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="nodeClicked(node, $event.checked)"
                  [attr.data-entity-id]="node.getId()">
    {{node.getName()}}
    </mat-checkbox>
  </mat-tree-node>
</mat-tree>
