<!-- <iframe id="hiddenFrame" name="hiddenFrame"></iframe>
<form #form
  ngNoForm
  action='http://127.0.0.1:5000/upload-files/'
  method="POST"
  enctype="multipart/form-data"
  target="hiddenFrame">
  <input #fileInput
    name="file"
    type="file"
    multiple
    (change)="onChange($event)"/>
</form> -->
<iframe id="hiddenFrame" name="hiddenFrame"></iframe>
<form #form
  ngNoForm
  action='http://127.0.0.1:5000/upload-files/'
  method="POST"
  enctype="multipart/form-data"
  target="hiddenFrame">
  <input #fileInput
    hidden
    name="file"
    type="file"
    [accept]="acceptsType"
    (change)="onChange($event)"/>
  <button mat-stroked-button
    color="primary"
    (click)="fileInput.click()">
    <mat-icon >file_upload</mat-icon>Upload
  </button>
  <input
    id="selectedFile"
    matInput
    type="text"
    placeholder="No file chosen"
    readonly="true"
    [value]="selectedFileName">
</form>
<div *ngIf="invalidDimensionsMsg?.length"
class="margin-bottom-thin button-update-msg"
[ngClass]="{'warning-msg': isError}">
  <i class="fas fa-info-circle"></i>
  {{this.invalidDimensionsMsg}}<span>&nbsp;</span>
</div>