<!-- <iframe id="hiddenFrame" name="hiddenFrame"></iframe>
<form #form
  ngNoForm
  action='http://127.0.0.1:5000/upload-files/'
  method="POST"
  enctype="multipart/form-data"
  target="hiddenFrame">
  <input #fileInput
    name="file"
    type="file"
    multiple
    (change)="onChange($event)"/>
</form> -->
<iframe id="hiddenFrame" name="hiddenFrame"></iframe>
<form #form
  ngNoForm
  action='http://127.0.0.1:5000/upload-files/'
  method="POST"
  enctype="multipart/form-data"
  target="hiddenFrame">
  <input #fileInput
    name="file"
    type="file"
    [accept]="acceptsType"
    (change)="onChange($event)"/>
</form>
