
<div class="fixActionRow">
  <h1 mat-dialog-title>Add Asset
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </h1>
  <div mat-dialog-content>
    <mat-horizontal-stepper linear="false" #stepper>
      <mat-step [stepControl]="typeFormGroup">
          <ng-template matStepLabel>Type</ng-template>
          <h3>Select Asset Type:</h3>
          <mat-radio-group
            class="type-radio-group"
            (change)="onAssetTypeChange($event.value)"
            [(ngModel)]="uploadAssetType">
            <mat-radio-button *ngFor="let type of types| keyvalue"
              class="type-radio-button"
              [value]="type.key">
              {{type.value}}
            </mat-radio-button>
          </mat-radio-group>
      </mat-step>
      <mat-step [stepControl]="uploadFormGroup">
          <ng-template matStepLabel>Asset</ng-template>
          <h3>Add Asset</h3>
          <div [ngSwitch]="uploadAssetType">
              <app-upload-img
                #uploadImg
                (isChildFormValid)="updateStepValid($event)"
                *ngSwitchCase="assetTypes.IMG">
              </app-upload-img>
              <app-upload-video
                #uploadVideo
                (isChildFormValid)="updateStepValid($event)"
                (isBulkUpload)="setIsBulkUpload($event)"
                (isBulkVidFilesSelected)="setIsBulkFilesSelected($event)"
                *ngSwitchCase="assetTypes.VIDEO">
              </app-upload-video>
              <app-upload-html
                #uploadHtml
                (isChildFormValid)="updateStepValid($event)"
                *ngSwitchCase="assetTypes.HTML">
              </app-upload-html>
              <app-upload-text
                #uploadText
                (isChildFormValid)="updateStepValid($event)"
                [isHeadline]="uploadAssetType === this.assetTypes.TEXT_HEADLINE"
                *ngSwitchDefault>
              </app-upload-text>
          </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Add</ng-template>
        <app-account-struct
          #accountAdGroups
          [account]="account"
          [uploadMode]=true
          (selectionMade)="updateCanAddAsset($event)">
        </app-account-struct>

      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="spacer"></div>
  <div mat-dialog-actions >
    <div>
      <button mat-stroked-button
        color="primary"
        *ngIf="stepper.selectedIndex !== 0"
        (click)="onBack(stepper)">Back</button>
    </div>
      <button mat-stroked-button
        color="primary"
        class="right-align"
        *ngIf="stepper.selectedIndex !== 2 && isBulkUpload != true"
        [disabled]="!isChildFormValid"
        (click)="onNext(stepper)">Next</button>
        <button mat-stroked-button
        color="primary"
        class="right-align"
        *ngIf="isBulkUpload === true"
        [disabled]="!isBulkFilesSelected"
        (click)="bulkUploadVideos()">Upload</button>
      <app-progress-btn
        btnLabel='Add Asset'
        class="right-align"
        *ngIf="stepper.selectedIndex == 2"
        [disabled]="!canAddAsset"
        [btnUpdateMsg]="uploadMessage"
        [isError]="isErrorMessage"
        [inProgress]="uploadInProgress"
        (btnClick)="onAddAsset()">
      </app-progress-btn>
  </div>
</div>

