<form [formGroup]="form">
  <div class="settings-field">
    <mat-form-field>
      <mat-label>MCC Customer ID</mat-label>
      <input matInput
            placeholder="XXX-XXX-XXXX"
            formControlName="mccCtrl"
            autocomplete="off"
            (blur)="onBlur()"
            required>
    </mat-form-field>
  </div>
  <div class="settings-field long-field">
    <mat-form-field >
      <mat-label>Client ID</mat-label>
      <input matInput
            formControlName="clientIDCtrl"
            autocomplete="off"
            required>
    </mat-form-field>
  </div>
  <div class="settings-field long-field">
    <mat-form-field>
      <mat-label>Client Secret</mat-label>
      <input matInput
            formControlName="clientSecretCtrl"
            autocomplete="off"
            required>
    </mat-form-field>
  </div>
  <div class="settings-field long-field">
    <mat-form-field>
      <mat-label>Dev Token</mat-label>
      <input matInput
            formControlName="devTokenCtrl"
            autocomplete="off"
            required>
    </mat-form-field>
  </div>
  <div *ngIf="!this.editMode" class="settings-field long-field">
    <mat-form-field>
      <mat-label>Refresh Token</mat-label>
      <input matInput
            formControlName="refreshCodeCtrl"
            autocomplete="off">
    </mat-form-field>
  </div>
</form>
