<mat-toolbar class="toolbar_class">
    <mat-toolbar-row>
    	<div class="toolbar_logo">
    	<img src="assets/gtech_logo.png" style="width: 40px;">
    	<span>AssetMG - Prototype</span>
      </div>
      <div *ngIf="this.loadAccounts" class="toolbar_select">
        <mat-form-field class="account_select">
        <mat-label>Account</mat-label>
        <mat-select [(value)]="defaultAccount">
          <mat-option *ngFor="let account of (accounts$ | async)" [value]="account.id"
            (onSelectionChange)="accountChanged($event)"> {{account.name}}
          </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="!this.loadAccounts" class="right-align">
      <app-login></app-login>
    </div>
    <div *ngIf="this.loadAccounts" class="right-align">
      <app-login></app-login>
      <button mat-icon-button (click)="openSettings()"><mat-icon>settings</mat-icon></button>
      <button mat-icon-button (click)="feedbackClicked()"><mat-icon>feedback</mat-icon></button>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
