:host {
  font-size: 16px;
  color: grey;
}

#searchField {
  width: 60%;
  float: left;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
}
mat-placeholder {
  color: rgb(161, 157, 157);
}

#filterBtn {
  float: right;
}
