.asset-mg-window {
  text-align:center;
  height: 100%;
}
/** LOADiNG **/
/* #main-loader {
  width: 100%;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading img {
  width: 50px
} */
