/* .overlay {
  height:100vh;
  width:70%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
} */
.progress-bar {
  /* position: relative; */
  height: 4px;
  background-color: inherit;
  /* bottom: 4px; */
}

